/* ページ全体 */

body {
  background-color: #0f1923;
}

/** ヘッダー */

.header_container {
  display: flex;
  flex-direction: ro;
  justify-content: space-between;
  padding: 14px 0 8px 0;
  background-color: rgb(27, 68, 68);
}

.header_logo {
}

.logo_image {
}

.header_menu {
  flex-flow: row wrap;
}

/* リンク文字 */

.header_menu_item a {
}

/* リンク文字ホバー時 */

a:hover {
}

.contents_item h1 {
}
